.add-card {
  width: 100%;
  height: fit-content;
  background-color: #fff4e6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}
.add-inputs {
  display: flex;
  justify-content: space-between;
}
.add-inputs input {
  width: 200px;
  height: 30px;
  border: 1px solid #f3ddc1;
}
.add-btn button {
  width: 200px;
}
.close {
  margin-top: 15px;
  margin-left: 380px;
}
