* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
  height: auto;
  margin-top: 150px;
  display: flex;
  gap: 40px;
}
.cont {
  width: 50%;
  height: auto;
}
.add {
  margin: 15px 0 0 350px;
}
.view {
  display: block;
}
.hide {
  display: none!important ;
}
