.form {
  background-color: #fff4e6;
  border-radius: 6px;
  width: 100%;
  height: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.input-cont {
  display: flex;
  justify-content: space-between;
}
.input {
  width: 100px;
  height: 30px;
  border: 1px solid #f3ddc1;
  text-align: center;
}
